*{
  box-sizing: border-box;
}
h1{
  font-family: 'Times New Roman', Times, serif;
  color: cyan;
}
ol li{
  color: darkviolet;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: darkgreen;
}
button{
  color: antiquewhite;
  background-color: blue;
  text-align: center;
  border-radius: 20%ss;
}
button :hover{
  color: black;
  background-color: blueviolet;
}